<div class="wrap">
    <div class="page-container" id="page-container">

        <main class="main">
            <div class="login-div content"  >
                <form class="login-form" [formGroup]="loginForm">
                    <h1 style="font-size: 20px; margin-bottom: 9px;"> Login To System</h1>
                    <div class="mb-3">
                   
                      <input type="email" class="form-control form-cus" formControlName="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                    
                      <input type="password" class="form-control form-cus" formControlName="password"  placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary btn-cus" (click)="login()">Login</button>

                  </form>
            </div>
            
        </main>
    </div>
</div>
